﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quan Ly Ban Hang</title>
<!-- BOOTSTRAP STYLES-->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}'
	rel='stylesheet' type='text/css' />
</head>
<body>



	<div id="wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="adjust-nav">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".sidebar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="#"> <img style="padding-top: 8px; padding-left: 15px;"
						th:src="@{/img/logo.png}" />

					</a>

				</div>

				<span class="logout-spn"><p>
						UserName: <span sec:authentication="name"></span>
					</p> <br />
					<p>
						Roles: <span sec:authentication="principal.authorities"></span>
					</p>
					<form action="#" th:action="@{/logout}" method="POST">
						<button type="submit" style="width: 76px; height: 25px;">Logout</button>
					</form> </span>
			</div>
		</div>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">



					<li class="active-link"><a style="padding-left: 25px;"
						href="index.html"><i class="fa fa-table "></i>Sản phẩm</a></li>


				</ul>
			</div>

		</nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-lg-12">
						<h2>DANH SÁCH SẢN PHẨM</h2>
					</div>
				</div>
				<!-- /. ROW  -->
				<hr />

				<!-- /. ROW  -->


				<div class="container" id="main-content">
					<div class="row"
						style="position: relative; width: 1102px; padding-bottom: 20px;">
						<div class="col-6 no-padding"
							style="width: 300px; position: absolute; float: left;">
							<form class="form-inline" action="#" th:action="@{/admin/search}"
								method="get">
								<input class="form-control mr-sm-2" type="search" name="term"
									placeholder="Search by name ..." />
								<button class="btn btn-primary" type="submit">
									<i class="fa fa-search"></i> Search
								</button>
							</form>
						</div>

						<div class="col-6 no-padding" style="width: 160px; float: right;">
							<a href="#" th:href="@{/admin/add}"
								class="btn btn-success float-right"> <i
								class="fa fa-plus-square"></i> New product
							</a>
						</div>
					</div>

					<div class="row mt-4">

						<!-- messsage -->
						<div th:if="${successMessage}"
							class="alert alert-success alert-dismissible fade show"
							role="alert">
							<span th:text="${successMessage}"></span>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<th:block th:if="${#lists.isEmpty(products)}">
							<div class="row">
								<div class="col-lg-12 ">
									<br />
									<div class="alert alert-danger">
										<strong>Khong co san pham </strong>
									</div>

								</div>
							</div>
						</th:block>

						<th:block th:unless="${#lists.isEmpty(products)}">
							<div class="table-responsive">
								<table class="table table-bordered table-hover"
									style="width: 1102px;">
									<thead>
										<tr>
											<th>STT</th>
											<th>Name</th>
											<th>Price</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product,iterStat : ${products}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${product.productName}"></td>
											<td th:text="${product.price}"></td>
											<td><a href="#"
												th:href="@{/admin/{productId}/edit(productId=${product.productId})}"
												class="mr-sm-2 text-primary"> <i class="fa fa-pencil"></i></a>
												<a href="#"
												th:href="@{/admin/{productId}/delete(productId=${product.productId})}"
												class="mr-sm-2 text-primary">&#128465;</i>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</th:block>


					</div>
				</div>
				<!-- /.container -->

				<!-- <div class="row">
					<div class="col-lg-12 ">
						<br />
						<div class="alert alert-danger">
							<strong>Want More Icons Free ? </strong> Checkout fontawesome
							website and use any icon <a target="_blank"
								href="http://fortawesome.github.io/Font-Awesome/icons/">Click
								Here</a>.
						</div>

					</div>
				</div> -->
				<!-- /. ROW  -->
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<div class="footer">


		<div class="row"></div>
	</div>


	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script th:src="@{/js/jquery-1.10.2.js}"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- CUSTOM SCRIPTS -->
	<script th:src="@{/js/custom.js}"></script>


</body>
</html>
