﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quan Ly Ban Hang</title>
<!-- BOOTSTRAP STYLES-->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}'
	rel='stylesheet' type='text/css' />
</head>
<body>



	<div id="wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="adjust-nav">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".sidebar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="#"> <img style="padding-top: 8px; padding-left: 15px;"
						th:src="@{/img/logo.png}" />

					</a>

				</div>

				<span class="logout-spn"> <a href="#" style="color: #fff;">LOGOUT</a>

				</span>
			</div>
		</div>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">



					<li class="active-link"><a style="padding-left: 25px;"
						href="index.html"><i class="fa fa-table "></i>Sản phẩm</a></li>


				</ul>
			</div>

		</nav>
		<!-- /. NAV SIDE  -->
		<div class="container" id="main-content">
			<div class="row d-flex justify-content-center">
				<form style="width: 400px; margin-left: 400px; margin-top: 100px;"
					action="#" th:action="@{/admin/save}" th:object="${product}"
					method="post" novalidate="novalidate">
					<h3 class="text-center">Product form</h3>

					<input type="hidden" th:field="*{productId}" />

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Product name"
							th:field="*{productName}" th:errorclass="field-error" /> <em
							th:if="${#fields.hasErrors('productName')}"
							th:errors="*{productName}"></em>
					</div>

					<div class="form-group">
						<input class="form-control" type="number"
							placeholder="Product price" th:field="*{price}"
							th:errorclass="field-error" /> <em
							th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></em>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-block btn-primary">
							<i class="fa fa-save"></i> Save
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<div class="footer">


		<div class="row"></div>
	</div>


	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script th:src="@{/js/jquery-1.10.2.js}"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- CUSTOM SCRIPTS -->
	<script th:src="@{/js/custom.js}"></script>


</body>
</html>
