<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Page</title>
<!-- BOOTSTRAP STYLES-->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans}'
	rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="adjust-nav">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".sidebar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="#"> <img style="padding-top: 8px; padding-left: 15px;"
						th:src="@{/img/logo.png}" />

					</a>

				</div>

				<span class="logout-spn"><p>
						UserName: <span sec:authentication="name"></span>
					</p> <br />
				<p>
						Roles: <span sec:authentication="principal.authorities"></span>
					</p>
					<form action="#" th:action="@{/logout}" method="POST">
						<button type="submit" style="width: 76px; height: 25px;">Logout</button>
					</form> </span>
			</div>
		</div>
		UserName: <span sec:authentication="name"></span> <br /> Roles: <span
			sec:authentication="principal.authorities"></span>
		<form action="#" th:action="@{/logout}" method="POST">
			<button type="submit">Logout</button>
		</form>
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script th:src="@{/js/jquery-1.10.2.js}"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- CUSTOM SCRIPTS -->
	<script th:src="@{/js/custom.js}"></script>
</body>
</html>